@keyframes rotateLogo{
  0%{
    transform: none;
  }
  50%{
    transform: rotateY(180deg);
  }
  100%{
    transform: none;
  }
}

.main-body__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  animation: rotateLogo 4s ease-in-out infinite;
}

.main-body__logo img{
  width: 200px;
}

.welcome-header {
  margin-top: 35px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: var(--main-border);
  background-color: transparent;
  transition: border-bottom 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-bottom: 1px solid burlywood;
}

#login-form input[type="submit"] {
  background-color: burlywood;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
}

#login-form input[type="submit"]:hover{
  transform: scale(1.05);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
