.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 50%;
  font-weight: 600;
}

.no-number {
  background-color: transparent;
}
