.status-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  box-sizing: border-box;
  background-color: #f9f1e3;
  z-index: 99;
  cursor: default;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-quarter {
  margin: 0 5px;
  color: red;
}

.status-bar__column .fa-bolt{
  color: var(--yellow);
}

/* .status-bar__column .fa-bolt {
  margin-right: 3px;
} */
